:root {
    color: black;
    background-color: lightblue;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: darkgoldenrod;
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #222;
        background-color: rgb(128, 128, 128);
    }

    a:visited {
        color: rgb(226, 220, 220);
    }
}